<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Time of aquisition</th>
      <th>Price at the time of aquisition</th>
    </tr>
  </thead>

  <tbody>

<% if !employee.orders.blank? %>
  <% for employee.orders.reward in employee.orders %>

    <tr>
        <td><%= employee.orders.reward.title %></td>
        <td><%= employee.orders.reward.description %></td>
        <td><%= employee.orders.created_at %></td>
        <td><%= employee.order.price %></td>
      </tr>
      <%end%>
      <%end%>
  </tbody>
</table>
