<h1>Edit number of available kudos to all Employees</h1>

<%= form_with url: 'update_add_kudos_to_all', method: :patch  do |f| %>

  <p>
    <%=f.label :number_of_available_kudos %><br/>
    <%= f.number_field :number_of_available_kudos %>  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
