<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href="/">ERP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>      <ul class="navbar-nav">
      <% if employee_signed_in? %>
         <li class="nav-item">
            <%= link_to "Sign out", destroy_employee_session_path, method: :delete, class: 'nav-link' %>
          </li>

      <%else%>
           <li class="nav-item">
            <%= link_to "Sign in", new_employee_session_path, method: :get, class: 'nav-link' %>
          </li>
      <%end%>
      </ul>
</nav>
