     <ul class="navbar-nav">
      <% if admin_signed_in? %>
         <li class="nav-item">
            <%= link_to "Sign out", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
          </li>

      <%else%>
           <li class="nav-item">
            <%= link_to "Sign in", new_admin_session_path, method: :get, class: 'nav-link' %>
          </li>
      <%end%>
      </ul>

