<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation of order delivery for <%= @order.employee.email %></h1>
    <p>
        Your order containing <%= @order.reward.title %>  has been successfully delivered.<br>
    </p>
    <p><h4>Have a great day!</h4></p>
  </body>
</html>
